main {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4.5rem;
  nav {
    a {
      font-size: 1.2rem;
      color: #fff;
      text-decoration: none;
      transition: .3s ease-in-out;
      &:hover {
        transition: .3s ease-in-out;
        border-bottom: 3px solid #fff;
        padding-bottom: 5px;
      }
    .logo {
      width: 50px;
      border: none;
      &:hover {
        border: none;
      }
    }
  }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      li {
        padding: 1rem;
      }
    }
  }

  .centered-container {
    display: block;
    width: calc(100vw - 50%);
    margin: 1rem auto;
  }
  
  .footer {
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}